.form-group {
    margin-bottom: 1rem;

    > label {
        display: block;
        font-weight: 900;
        font-size: .75rem;
        line-height: 1.175rem;
        margin-bottom: 5px;
        letter-spacing: 1px;
        color: $licorice;
        text-transform: uppercase;
    }

    .custom-control-label {
        display: block;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.475rem;
        margin-bottom: 0;
        color: $licorice;
    }
}

.form-control {
    border-radius: 5px;
    width: 100%;
    padding: 0 15px;
    line-height: 1.2;
    color: $gray;
}

input {
    &.form-control {
        height: 40px;
    }
}

textarea {
    &.form-control {
        padding: 15px;
    }
}
