$white-smoke: #F7F7F7;
$licorice: #121212;
$arsenic: #444;
$gray: #888;
$eerie-black: #1B1D1E;

$yellow: #FABC3C;
$berry: #88527F;
$melon: #0CCE6B;
$dodger-blue: #2191FB;

$red: #f64646;
$green: #46c891;
$blue: #3081f2;
$yellow: #ffd151;

$blue: #6279DB;
$pink: #D36582;

$secondary: #fff;

$body-bg: #FBFBFD;
$body-color: #9EA0A5;

$font-family-sans-serif: 'Roboto', sans-serif;

$theme-colors: (
    'red': $red,
    'green': $green,
    'blue': $blue,
    'yellow': $yellow
);

$link-color: $licorice;
$link-hover-color: lighten($link-color, 30%);
$link-hover-decoration: none;

$border-radius: 4px;

$input-border-color: lighten($gray, 20%);
$input-btn-focus-box-shadow:  0 0 0 .2rem lighten($input-border-color, 15%);

$input-btn-padding-x: 1.75rem;
$input-btn-padding-y: .75rem;

$input-btn-padding-x-sm: 1.25rem;
$input-btn-padding-y-sm: .35rem;

$btn-font-weight: 700;
$btn-border-radius: 30px;
$btn-border-radius-sm: 30px;

$dropdown-link-active-bg: $blue;

$card-border-width: 1px;
$card-border-color: #EAEDF3;
$card-spacer-x: 30px;
$card-spacer-y: 20px;

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: .5rem;

$breadcrumb-margin-bottom: 0;

$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray;
$breadcrumb-active-color: $gray;

$breadcrumb-border-radius: 0;

$list-group-item-padding-y: 0;
$list-group-item-padding-x: 30px;

$list-group-border-color: #EAEDF3;
$list-group-hover-bg: transparent;

$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-border-radius: 0;
