
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'navbar';
@import 'alerts';
@import 'forms';
@import 'groups';
@import 'pagination';
@import 'icons';
@import 'discussions';
@import 'buttons';
@import 'card';
@import 'dropdown';

::selection {
    background: rgba($eerie-black, .05);
}

body {
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    color: $arsenic;
}

p {
    line-height: 1;

    &:last-of-type {
        margin-bottom: 0;
    }
}

ul {
    margin: 0;
}

a {
    transition: color .3s ease-in-out;
}

main {
    margin: 30px auto;

    h1 {
        font-weight: 400;
        font-size: 1.625rem;
        line-height: 2.375rem;
        margin-bottom: 30px;
    }
}

.breadcrumb {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.375rem;
}

.list-group-item {
    height: 60px;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #D8DCE6;
    border-radius: 4px;
    z-index: 99999;
    min-width: 140px;
    padding: 10px;
    margin-top: 4px;

    > a {
        background: white;
        min-width: 100%;
        border-radius: 4px;
        font-size: .875rem;
        line-height: 1.375rem;
        text-align: left;
        padding: 5px 15px;
        font-weight: 400;
    }
}
